* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-primary: #F7B733;
    --brand-color-secondary: #FC4A1A;
    --background-color: #09090B;
    --surface-color: #18181B;
    --stroke-color: #27272A;
    --text-color-secondary: #A1A1AA;
    --text-color-primary: #F4F4F5;
    --gradient-color: linear-gradient(90deg, #F7B733, #FC4A1A);

    --font-family: "Inter", sans-serif;

}
    
@media (min-width: 375px) and (max-width: 768px) {
    :root {
    }
}

h1 {
    font-size: clamp(2rem, 6vw + 0.5rem, 3.5rem);
    line-height: 120%;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: var(--text-color-primary);
}

h2 {
    font-size: clamp(1.5rem, 4vw + 0.5rem, 3rem);
    line-height: 120%;
    font-weight: 800;
    color: var(--text-color-primary);
}

h3 {
    font-size: clamp(1.25rem, 3vw + 0.25rem, 2rem);
    line-height: 120%;
    font-weight: 800;
    color: var(--text-color-primary);
}


span {
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 100%;
    font-weight: 500;
    color: var(--brand-color-primary);
}

p {
    font-size: clamp(1rem, 2vw, 1.125rem);
    line-height: 160%;
    font-weight: 400;
    color: var(--text-color-secondary);
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: var(--text-color-primary);
}