@import "global.css";
@import "utilities.css";

body {
    min-height: 100dvh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding: 1.5rem;
}

.nav-list {
    display: none;
}

.logo {
    font-family: "Paytone One", sans-serif;
    font-size: clamp(1.5rem, 3vw + 1rem, 2rem);
    color: var(--text-color-primary);
}

.hero {
    text-align: center;
    margin-bottom: 6rem;
    padding-top: 2rem;
}

.hero img {
    width: clamp(250px, 60vw, 450px);
    height: auto;
}

.hero .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;    
}

.hero .text p {
    font-size: clamp(1rem, 3vw + 0.5rem, 1.75rem);
    color: var(--text-color-secondary);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.ellipse {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin-top: -3rem;
    filter: drop-shadow(0 20px 80px var(--brand-color-primary))
            drop-shadow(0 10px 40px var(--brand-color-secondary));
    border-radius: 20px;

}

.about {
    background-color: var(--surface-color);
    padding: 0 1.5rem;
    padding-bottom: 2.5rem;
}

.about img {
    width: 18rem;
}

.about .text {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.features {
    padding: 2.5rem 1.5rem;
    gap: 1.5rem;
}

.features .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--surface-color);
    border-radius: 1.5rem;
}

.features .card img {
    width: 30px;
    height: auto;
}

.features .card .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.princings {
    padding: 2.5rem 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.princings .heading {
    gap: 1rem;
}

.princings .card {
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--surface-color);
}

.princings .card .text {
    text-align: start;
    margin-bottom: 2rem;
    gap: 4px;
}

.card .princing {
    text-align: start;
    margin-bottom: 1.5rem;
}

.card .princing span {
    color: var(--text-color-secondary);
    padding-left: 4px;
}

.content .button {
    background-color: var(--surface-color);
    padding: .8rem 1rem;
    border-radius: 8px;
    color: var(--text-color-primary);
    border: 2px solid var(--text-color-primary);
    text-align: center;
}

.content .line {
    margin: 2rem 0;
    width: 100%;
}

.features-card .features-list {
    gap: 1rem;
    text-align: start;
}

.features-card .features-list .features-item {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
}

.princing-premium {
    position: relative;
    border-radius: 1.5rem;
    background: linear-gradient(var(--surface-color), var(--surface-color)) padding-box,
                var(--gradient-color) border-box;
    border: 2px solid transparent;
}

.princing-premium .badge {
    position: absolute;
    padding: 0.8rem 1rem;
    top: 0;
    left: 0;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 18px;
    background: var(--gradient-color);
    text-align: center;
    font-weight: 500;
}

.princing-premium .text {
    margin-top: 2.5rem;
}

.princing-family .features-card {
    margin-bottom: 1.5rem;
}

.princing-family {
    text-align: start;
}

.download {
    padding: 3rem 1.5rem;
}

.download .card {
    padding: 3rem 1.5rem 15rem 1.5rem;
    border-radius: 1.5rem;
    gap: 1rem;
    background-color: var(--surface-color);
    background-image: url("../assets/images/rapaz-ouvindo-musica-com-fones-de-ouvido-e-cantando-no-aplicativo-de-karaoke-removebg\ 1.png");
    background-position: right bottom;
    background-size: clamp(11rem, 32vw + 4rem, 16rem);
    background-repeat: no-repeat;
}

.download .card .text {
    gap: 0.5rem;
}

.downloads {
    gap: 0.9rem;
    width: fit-content;
}

.card .downloads a {
  display: inline-flex;
  gap: 8rem;
  align-items: center;
  line-height: 0;
  width: 178.56px;
}

.card .downloads a img {
    display: block;
}