@import "global.css";
@import "utilities.css";

body {
    min-height: 100dvh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding: 1.5rem;
}

.nav-list {
    display: none;
}

.logo {
    font-family: "Paytone One", sans-serif;
    font-size: clamp(1.5rem, 3vw + 1rem, 2rem);
    color: var(--text-color-primary);
}

.hero {
    text-align: center;
    margin-bottom: 6rem;
    padding-top: 2rem;
}

.hero img {
    width: clamp(250px, 60vw, 450px);
    height: auto;
}

.hero .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;    
}

.hero .text p {
    font-size: clamp(1rem, 3vw + 0.5rem, 1.75rem);
    color: var(--text-color-secondary);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.ellipse {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin-top: -3rem;
    filter: drop-shadow(0 20px 80px var(--brand-color-primary))
            drop-shadow(0 10px 40px var(--brand-color-secondary));
    border-radius: 20px;

}

.about {
    background-color: var(--surface-color);
    padding: 0 1.5rem;
    padding-bottom: 2.5rem;
}

.about img {
    width: 18rem;
}

.about .text {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.features {
    padding: 2.5rem 1.5rem;
    gap: 1.5rem;
}

.features .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--surface-color);
    border-radius: 1.5rem;
}

.features .card img {
    width: 30px;
    height: auto;
}

.features .card .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
