@import "global.css";
@import "utilities.css";

body {
    min-height: 100dvh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding: 1.5rem;
}

.nav-list {
    display: none;
}

.logo {
    font-family: "Paytone One", sans-serif;
    font-size: clamp(1.5rem, 3vw + 1rem, 2rem);
    color: var(--text-color-primary);
}

.hero {
    text-align: center;
    padding-top: 2rem;
}

.hero img {
    width: clamp(250px, 70vw + 1rem, 450px);
    height: auto;
}

.hero .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;    
}

.hero .text h1 {
    font-size: clamp(auto-fit, 6vw + 2rem, 4rem);
}

.hero .text p {
    font-size: clamp(1rem, 3vw + 0.5rem, 1.75rem);
    color: var(--text-color-secondary);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.ellipse-wrapper .ellipse {
    position: relative;
    z-index: -1;
    width: 100%;
    display: block;
    height: fit-content;
}

.about {
    background-color: var(--surface-color);
    padding: 0 1.5rem;
    padding-bottom: 2.5rem;
}

.about img {
    width: 18rem;
}

.about .text {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.features {
    padding: 2.5rem 1.5rem;
    gap: 1.5rem;
}

.features .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--surface-color);
    border-radius: 1.5rem;
}

.features .card img {
    width: 30px;
    height: auto;
}

.features .card .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.princings {
    padding: 2.5rem 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.princings .heading {
    gap: 1rem;
}

.princing-card {
    gap: 1.5rem;
}

.princings .card {
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--surface-color);
}

.princings .card .text {
    text-align: start;
    margin-bottom: 2rem;
    gap: 4px;
}

.card .princing {
    text-align: start;
    margin-bottom: 1.5rem;
}

.card .princing span {
    color: var(--text-color-secondary);
    padding-left: 4px;
}

.content .button {
    background-color: var(--surface-color);
    padding: .8rem 1rem;
    border-radius: 8px;
    color: var(--text-color-primary);
    border: 2px solid var(--text-color-primary);
    text-align: center;
}

.content .line {
    margin: 2rem 0;
    width: 100%;
}

.features-card .features-list {
    gap: 1rem;
    text-align: start;
}

.features-card .features-list .features-item {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
}

.princing-premium {
    position: relative;
    border-radius: 1.5rem;
    background: linear-gradient(var(--surface-color), var(--surface-color)) padding-box,
                var(--gradient-color) border-box;
    border: 2px solid transparent;
}

.princing-premium .badge {
    position: absolute;
    padding: 0.8rem 1rem;
    top: 0;
    left: 0;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.285rem;
    background: var(--gradient-color);
    text-align: center;
    font-weight: 500;
}

.princing-premium .text {
    margin-top: 2.5rem;
}

.princing-family .features-card {
    margin-bottom: 1.5rem;
}

.princing-family {
    text-align: start;
}

.download {
    padding: 3rem 1.5rem;
}

.download .card {
    padding: 3rem 1.5rem 15rem 1.5rem;
    border-radius: 1.5rem;
    gap: 1rem;
    background-color: var(--surface-color);
    background-image: url("../assets/images/rapaz-ouvindo-musica-com-fones-de-ouvido-e-cantando-no-aplicativo-de-karaoke-removebg\ 1.png");
    background-position: right bottom;
    background-size: clamp(11rem, 30vw + 1rem, 23rem);
    background-repeat: no-repeat;
}

.download .card .text {
    gap: 0.5rem;
}

.downloads {
    gap: 0.9rem;
    width: fit-content;
}

.card .downloads a {
  display: inline-flex;
  gap: 8rem;
  align-items: center;
  line-height: 0;
  width: 178.56px;
}

.card .downloads a img {
    display: block;
}

footer {
    padding: 3rem;
    padding-bottom: 2rem;
    gap: 3rem;
}

.footer-card {
    gap: 3rem;
}

.footer-card .navigation {
    gap: 4rem;
}

.navigation a:active {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation .card {
    gap: 1rem;
}

.navigation .card a {
    color: var(--text-color-secondary);
    width: fit-content;
}

.footer-botom {
    gap: 1rem;
}

.social-media {
    gap: 1.5rem;
    width: fit-content;
}

.social-media .icon {
    color: var(--text-color-secondary);
}

.social-media .icon svg {
    width: 1.5rem;
    height: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}

.icon-path {
    fill: var(--text-color-secondary);
}

.icon:hover .icon-path,
.icon:active .icon-path {
  fill: url(#grad-hover);
}

@media (min-width: 768px) {

    .ellipse-wrapper {
        margin-top: -5rem;
    }

    .about {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
    }

    .btn {
        width: 8.75rem;
        height: 3.75rem;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .card-5 {
        grid-column: span 2;
    }

    .download .text p {
        width: 60%;
    }

    .downloads {
        gap: 1.2rem;
    }

    .download .card {
        padding: 3rem 1.5rem 8rem 1.5rem;
    }

    .downloads img {
        height: 60px;
    }

    .navigation {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .nav-right {
        display: flex;
        gap: 1.5rem;
    }

    .hero {
        padding-top: 1.5rem;
    }

    .hero .text {
        gap: 0;
        padding-top: 1rem;
    }

    .ellipse-wrapper {
        margin-top: -9.5rem;
    }

    .about {
        padding-left: 2rem;
    }

    .about .text {
        width: 55%;
    }

    .about img {
        width: 45%;
    }

    .features {
        display: grid;
        grid-template-columns: 17.5rem 1fr 1fr 17.5rem;
        grid-template-rows: 25rem 25rem;
    }

    .features .card {
        position: relative;
        padding: 1.5rem 1rem;
    }    

    .card-1 {
        grid-column: 1/2;
    }

    .card-2 {
        grid-column: 2/4;
    }

    .card-4 {
        grid-column: 1/3;
    }

    .card-4 .text {
        width: clamp(45%, calc(50% + 5vw), 55%)
    }

    .card-4 .show-lg {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
    
    .card-4 img.show-lg {
        width: 11rem;
    }

    .card-5 .text {
        width: 55%;
    }

    .card-5 .show-lg {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
    
    .card-5 img.show-lg {
        width: 11rem;
    }

    .princing .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .princing-card .princing-basic .text {
        margin-bottom: 2.6rem;
    }

    .princing-card .princing-family .text {
        margin-bottom: 0.8rem;
    }

    .princing-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .princings .princing-premium {
        width: 70%;
        grid-column: 1/-1;
        grid-row: 2;
        justify-self: center;
    }

    .show-lg {
        display: block;
        filter: drop-shadow(0 12px 30px rgba(0, 0, 0, 0.25));
    }
}

@media (min-width: 1220px) {
    .card-2 .show-xl {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        filter: drop-shadow(0 12px 30px rgba(0, 0, 0, 0.25));
    }

    .card-2 img.show-xl {
        width: 11rem;
    }

    .card-2 .text {
        width: 55%;
    }
}

@media (min-width: 1440px) {

    .features .card {
        padding: 2rem 1.5rem;
    }

    .princing-card .card {
        padding: 2rem;
    }

      .ellipse-wrapper {
        margin-top: -6rem;
    }  

    .card-2 .show-xl {
        position: absolute;
        top: 1.5rem;
        right: 3rem;
    }

    .card-4 .show-xl,
    .card-5 .show-xl {
        right: 3rem;
    }

    .card-2 .text,
    .card-4 .text,
    .card-5 .text {
        width: 65%;
    }
    
    .card-2 img.show-xl {
        width: 11rem;
    }

    .princing-card .princing-family .text{
        margin-bottom: 2.7rem;
    }

    .download .downloads {
        flex-direction: row;
        gap: 2rem;
    }

    .download .card {
        padding: 7.5rem 5rem;
        display: flex;
        gap: 2.5rem;
    }

    .download .card {
        background-position: right 5% bottom;
    }
}

