@import "global.css";
@import "utilities.css";

body {
    height: 100dvh;
    padding: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.nav-list {
    display: none;
}

.logo {
    font-family: "Paytone One", sans-serif;
    font-size: clamp(1.5rem, 3vw + 1rem, 2rem);
    color: var(--text-color-primary);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2.5rem;
}

.hero img {
    width: clamp(250px, 60vw, 450px);
    height: auto;
}

.hero .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hero .text p {
    font-size: clamp(1rem, 3vw + 0.5rem, 1.75rem);
    color: var(--text-color-secondary);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}