.btn-primary {
    background-color: var(--text-color-primary);
    padding: .8rem 1rem;
    border-radius: 8px;
    color: var(--background-color);
}

.btn-primary:hover,
.btn-primary:active {
    background: var(--gradient-color);
    color: var(--background-color);
}

.btn-secondary {
    background-color: transparent;
    padding: .8rem 1rem;
    border-radius: 8px;
    color: var(--text-color-primary);
    border: 2px solid var(--text-color-primary);
}

.btn-secondary-active:active
.btn-secondary-active:hover {
    color: var(--gradient-color);
    border: 2px solid var(--text-color-primary);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

e  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo a:active {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a-hover:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.show-lg {
    display: none;
}

@media (min-width: 1024px) {
  .show-lg {
    display: block;
  }
}

.show-xl {
    display: none;
}

@media (min-width: 1440px) {
  .show-xl {
    display: block;
  }
}